body {
    background: #F7F7F7 none repeat scroll 0 0;
    color: #73879c;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;

}

header {
    background-color: white;
    color: #2A3F54;
}

footer {
    background-color: #2A3F54;
    color: white;
}

h3 {
    font-size: 24px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}


#custom_layout{
    #max-width: 1200px;
    width: 85%;
}



#winners_table tr td {
    border: none;
}


.custom_margin {
    margin:3px;
}

.custom_size {
    font-size: 20px;
}
.custom_size_icon {
    font-size: 30px;
}
.toolbar {
    float: left;
}

/* Vertical align */
.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items
                              horizontally inside the column */
}

/**
 *  Do NOT include this part into your stylesheet.
 *  "flex: 1" or "flex-grow: 1" is added to make the inner div
 *  - Which is also a flex-item - take up all the horizontal space
 *  available space inside the flex container (.col-* elements)
 */
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
    /* flex: 1; */
    flex-grow: 1;
}


/* LOGIN */
.custom_login {
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    margin-top: 20px;
}
.custom_nav {
    color: white;
    background-color: #2A3F54;
}
.navbar-brand {
    color: white;
}


.custom_tool_box > li > a {
    padding: 5px;
    color: #2A3F54;
    font-size: 14px;
}
.custom_tool_box > li > a:hover {
    background: rgba(215, 217, 221, 0.8); }
